@model BeboerWeb.Mvc.Integrations.TenantDto

@{
    ViewData["Title"] = "Vis";
}

<h1>Oplysninger:</h1>

<div>
    <h4>Beboer</h4>
    <hr />
    <dl class="row">       
        <dt class = "col-sm-2">
            Navn
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Telefon
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            Saldo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Balance)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Opdater</a> |
    <a asp-action="Index">Tilbage til listen</a>
</div>