@{
    ViewData["Title"] = "Kontakt";
}
<header>   

@await Html.PartialAsync("Partials/NavBarPartial")
</header>

<body>
    <div container = phoneicon>
        <div class=icon>
            <i class="bi bi-telephone-fill contact-icons-size"> </i>
        </div>        
        <div class= phoneicon-contact/>
         <p>Administration:</p>
         <p>Åbningstider for telefon: </p>
         <p>Hverdage fra 09:00 - 16:00 </p>               
    </div>

    <div container = phoneicon>
        <div class=icon>
            <i class="bi bi-envelope-fill contact-icons-size"> </i>
        </div>        
        <div class= phoneicon-contact/>
                      
    </div>

    <div container = phoneicon>
        <div class=icon>
            <i class="bi bi-cursor-fill contact-icons-size"> </i>
        </div>        
        <div class= phoneicon-contact/>                    
    </div>  
</body>