@{
    ViewData["Title"] = "Dokumenter";
}
<header>   

@await Html.PartialAsync("Partials/NavBarPartial")
</header>

<body>
    <br />   
    <br /> 

    <nav>
        <div class="text-center">   
    @await Html.PartialAsync("Partials/MenuList", new List<MenuItem> {
        new MenuItem { Icon = "bi bi-house",  MenuTitle = "Lejekontakt", Link = Url.Action("DocumentLease", "Home")},
        new MenuItem { Icon = "bi bi-brush",  MenuTitle = "Klager", Link = Url.Action("DocumentsComplaints", "Home")},
        new MenuItem { Icon = "bi bi-inboxes",  MenuTitle = "Indflytnings- og fraflytningsrapport", Link= Url.Action("Documentoccupancyevictionreport", "Home")},
        new MenuItem { Icon = "bi bi-pencil",  MenuTitle = "Regler", Link =Url.Action("DocumentRules", "Home")},
        new MenuItem { Icon = "bi bi-credit-card-2-back",  MenuTitle = "Betalte regninger", Link= Url.Action("DocumentPaidBills", "Home") },
        new MenuItem { Icon = "bi bi-book",  MenuTitle = "Leje reguleringer", Link = Url.Action("DocumentsRentAdjustment", "Home")},
    })
</div>
    </nav>

</body>


