@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Documents";
}
<header>   

@await Html.PartialAsync("Partials/NavBarPartial")
</header>

<body>
    <br />   
    <br /> 

    <nav>
        <div class="text-center">   
    @await Html.PartialAsync("Partials/MenuList", new List<MenuItem> {
        new MenuItem { Icon = "bi bi-house-fill",  MenuTitle = "Lease", Link = "#"},
        new MenuItem { Icon = "bi bi-brush-fill",  MenuTitle = "Complaints", Link = "#"},
        new MenuItem { Icon = "bi bi-inboxes-fill",  MenuTitle = "Occupancy and eviction report", Link = "#"},
        new MenuItem { Icon = "bi bi-pencil-fill",  MenuTitle = "Rules", Link = "#"},
        new MenuItem { Icon = "bi bi-credit-card-2-back-fill",  MenuTitle = "Paid bills", Link = "#"},
        new MenuItem { Icon = "bi bi-book-fill",  MenuTitle = "Rent adjustments", Link = "#"}
    })
</div>
    </nav>

</body>


