@{
    ViewData["Title"] = "Dokumenter";
}
<header>   
@await Html.PartialAsync("Partials/NavBarPartial")

</header>
<br />
<body>
<nav>
    @await Html.PartialAsync("Partials/ButtonList", new List<ButtonStrip> {
        new ButtonStrip { ButtonTitle = "<- Tilbage til dokumenter", Link = Url.Action("DocumentArchive", "Home")}})      
</nav>

<br />
<h4> Lejekontrakter:</h4>
<br />

<nav>
    <div class="d-grid gap-2">
    <a class="btn btn-primary" href="https://localhost:44383/LeaseContract/Aflevering.pdf" role="button">Se din lejekontrakt</a>
    </div>

    <br />

    <div class="d-grid gap-2">
    <a class="btn btn-primary" href="https://localhost:44383/LeaseContract/Aflevering.pdf" download="Lejekontrakt" role="button">Download din lejekontrakt</a>
    </div>


</nav>

</body>


