@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="welcome-header">Velkommen til BeboerWeb</h1>
    @await Html.PartialAsync("Partials/MenuList", new List<MenuItem> {
        new MenuItem { Icon = "bi bi-building",  MenuTitle = "Menu 1", Link = "#"},
        new MenuItem { Icon = "bi bi-alarm",  MenuTitle = "Menu 2", Link = "#"},
        new MenuItem { Icon = "bi bi-xbox",  MenuTitle = "Menu 3", Link = "#"},
        new MenuItem { Icon = "bi bi-youtube",  MenuTitle = "Menu 4", Link = "#"},
        new MenuItem { Icon = "bi bi-wifi",  MenuTitle = "Menu 5", Link = "#"},
        new MenuItem { Icon = "bi bi-vimeo",  MenuTitle = "Menu 6", Link = "#"}

    })
</div>

<div class="buttonposition ">
    @await Html.PartialAsync("Partials/ButtonList", new List<ButtonStrip> {
        new ButtonStrip { ButtonTitle = "Min Side", Link = "#"},
        new ButtonStrip { ButtonTitle = "Log af", Link = "#"}  })
 </div>

