@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="welcome-header">Velkommen til BeboerWeb @User.Identity.Name</h1>
    @await Html.PartialAsync("Partials/MenuList", new List<MenuItem> {
        new MenuItem { Icon = "bi bi-building",  MenuTitle = "Booking", Link = Url.Action("Index", "Booking")},
        new MenuItem { Icon = "bi bi-alarm",  MenuTitle = "Chat", Link = Url.Action("ChatWindow", "Home")},
        new MenuItem { Icon = "bi bi-xbox",  MenuTitle = "Menu 3", Link = ""},//skal bruges Url.Action
        new MenuItem { Icon = "bi bi-wifi",  MenuTitle = "Administration", Link = Url.Action("Index", "Administration")},
        new MenuItem { Icon = "bi bi-wifi",  MenuTitle = "Document", Link = Url.Action("DocumentArchive", "Home")},
        new MenuItem { Icon = "bi bi-vimeo",  MenuTitle = "Contact", Link = Url.Action("Contact", "Home")}

    })
</div>

<div class="buttonposition ">
    @await Html.PartialAsync("Partials/ButtonList", new List<ButtonStrip> {
        new ButtonStrip { ButtonTitle = "Min Side", Link = "#"},
        new ButtonStrip { ButtonTitle = "Log af", Link = "#"}  })
 </div>

