version: '3.4'

services:
  beboerweb.api:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
    ports:
      - "31105:80"
      - "31106:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro
  beboerweb.mvc:
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=https://+:443;http://+:80
    ports:
      - "31107:80"
      - "31108:443"
    volumes:
      - ${APPDATA}/Microsoft/UserSecrets:/root/.microsoft/usersecrets:ro
      - ${APPDATA}/ASP.NET/Https:/root/.aspnet/https:ro

  beboerweb.api.db:
    environment:
     - ACCEPT_EULA=Y
     - MSSQL_PID=Express
     - SA_PASSWORD=1LVFF0xAHjb3PNriSWphd
    container_name: "beboerweb.api.db"
    ports:
     - "32105:1433" 

  beboerweb.mvc.db:
    environment:
     - ACCEPT_EULA=Y
     - MSSQL_PID=Express
     - SA_PASSWORD=lSmrtkga2D7h880FBOkcT
    container_name: "beboerweb.mvc.db"
    ports:
     - "32107:1433" 