@model IEnumerable<MenuItem>

<div class="menu-list">
    @foreach(var item in Model)
    {
        if(item != null)
        {
            @await Html.PartialAsync("Partials/MenuItem", item);
        }
    }
</div>